
node_modules/
.pnp
.pnp.js

.env
.env.local
.env.production

dist/
build/

logs/
*.log
npm-debug.log*
pnpm-debug.log*

coverage/

.vscode/
.idea/
*.swp
*.swo
*~

.DS_Store
Thumbs.db

/src/generated/prisma

*.tsbuildinfo
.cache/
